<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.xtext.org/example/mm/Ui" 
       class = "org.xtext.example.mm.ui.UiPackage"
       genModel = "org/xtext/example/mm/Ui.genmodel" /> 
	
  </extension>




</plugin>
